<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Nunito|Quicksand">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/content.css') }}">
    <title>Home</title>
</head>

<body>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% extends 'loggedin.html' %}
    {% block content %}
    <div id="welcome">
        Hi! {{ firstname }} <br>
        <hr>
    </div>
    <div id="link-container">
        <section>
            {% for post in posts %}
            <summary>
                <img src="../static/images/placeholder.webp">
                <a href="/post/{{ post['id']}}" id="article-title">{{ post['title'] | safe }}</a>
                <a href="/post/{{ post['id']}}" id="preview">{{ post['body'] | safe }}</a>
            </summary>
            {% endfor %}
        </section>
    </div>
    {% endblock %}
</body>

</html>