<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Nunito|Quicksand">
    <link rel="stylesheet" href="{{ url_for('blog.static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/buttons.css') }}">
    <title>Update</title>
</head>

<body>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% extends 'loggedin.html' %}
    {% block content %}
    <form method="post">
        <input type="text" id="article-title-1" placeholder="Title:" name="title" value="{{ post_row['title'] }}"
            autocomplete="off" required>
        <hr>
        <textarea name="body" id="body" cols="30" rows="10" placeholder="Scribble..." autocomplete="off"
            required>{{ post_row['body'] }}</textarea>
        <button id="update" type="submit"> Update </button>
    </form>
    {% endblock %}
</body>

</html>