<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Nunito|Quicksand">
    <link rel="stylesheet" href="{{ url_for('blog.static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('blog.static', filename='styles/editor.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fa/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/buttons.css') }}">
    <script src="{{ url_for('blog.static', filename='js/temp.js')}}" defer></script>
    <title>Write</title>
</head>

<body>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% extends 'loggedin_mini.html' %}
    {% block content %}
    <div id="editorbuttoncontainer">
        <select id="formatBlock">
            <option value="">Headings</option>
            <option value="p">Paragraph</option>
            <option value="h1">Heading 1</option>
            <option value="h2">Heading 2</option>
            <option value="h3">Heading 3</option>
            <option value="h4">Heading 4</option>
            <option value="h5">Heading 5</option>
            <option value="h6">Heading 6</option>
        </select>
        <button class="editorbuttons" id="bold"><b>B</b></button>
        <button class="editorbuttons" id="italic"><em>I</em></button>
        <button class="editorbuttons" id="underline"><u>U</u></button>
        <!-- <button class="editorbuttons" id="quotes"><i class="fa fa-quote-left"></i></button> -->
        <button class="editorbuttons" id="justifyCenter"><i class="fa fa-align-justify"></i></button>
        <button class="editorbuttons" id="justifyLeft"><i class="fa fa-align-left"></i></button>
        <button class="editorbuttons" id="justifyRight"><i class="fa fa-align-right"></i></button>
        <button class="editorbuttons" id="insertUnorderedList"><i class="fa fa-list-ul"></i></button>
        <button class="editorbuttons" id="insertOrderedList"><i class="fa fa-list-ol"></i></button>
        <button id="undo" class="editorbuttons">&#8630</button>
        <button id="redo" class="editorbuttons">&#8631</button>
        <button id="strikeThrough" class="editorbuttons"><i class="fa fa-strikethrough"></i></button>
        <button id="subscript" class="editorbuttons"><i class="fa fa-subscript"></i></button>
        <button id="superscript" class="editorbuttons"><i class="fa fa-superscript"></i></button>
        <button id="createLink" class="editorbuttons"><i class="fa fa-link"></i></button>
        <button id="unlink" class="editorbuttons"><i class="fa fa-unlink"></i></button>
    </div>
    <form method="post">
        <input type="text" id="article-title-1" placeholder="Title:" name="title" autocomplete="off" required>
        <!-- <textarea name="body" id="body" contenteditable="true" placeholder="Scribble..." autocomplete="off"
            required></textarea> -->
        <input type="hidden" id="hiddeninput" name="body">
        <div id="body" contenteditable="true">
        </div>
        <button type="submit"
            onclick="document.getElementById('hiddeninput').value = document.getElementById('body').innerHTML"> Submit
        </button>
    </form>
    {% endblock %}
</body>

</html>