* {
    --intro-line-font: 'Quicksand';
    --intro-second-line: 'Caveat';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    height: fit-content;
    background-color: black;
    padding: 0.5rem 0.3rem;
}


/* index.html styling */
#title {
    display: flex;
    font: 1.5rem 'Quicksand';
    font-weight: 600;
    width: 40%;
    max-width: 40%;
    color: yellowgreen;
    text-decoration: none;
}

#title:hover {
    text-decoration: underline yellowgreen;
}

#decagon {
    animation: spin 8s ease-in-out -2s infinite;
    transform-origin: center center;
    width: 20%;
}

#svg-div {
    display: flex;
    justify-content: center;
    transform: translateY(15vh);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 100%;
}

nav a {
    margin: 0 0.5rem;
    font: 0.7rem 'Nunito';
    font-weight: 100;
    color: yellowgreen;
    text-decoration: none;
}

nav a:hover {
    scale: 1.1;
}

p {
    font: 600 2.6vw 'Nunito';
    text-align: center;
    transform: translateY(20vh);
}

/* home.html styling */

#welcome {
    text-align: center;
    font: 600 1.5rem 'Nunito';
    margin-top: 2rem;
}

/* home content styling */
#link-container {
    max-width: auto;
    width: auto;
    height: 100%;
}

section {
    display: flex;
    flex-wrap: wrap;
}

section summary {
    display: flex;
    width: 38vw;
    flex-direction: column;
    padding: 0rem 0.7rem;
    border-radius: 0.9rem;
    text-align: center;
    font-family: 'Nunito';
    margin: 1rem;
}

#preview {
    font-size: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transform: none;
    font-weight: 100;

    /* @supports (-webkit-line-clamp: 3) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    } */
}

#article-title {
    font: 1.35rem 'Quicksand';
    font-weight: 600;
    text-decoration: none;
    color: yellowgreen;
}

@media (max-width: 360px) {
    nav a {
        margin: 0;
    }
}

@media (min-width: 768px) {
    button {
        width: 8%;
    }

    section>summary {
        width: 20vw;
    }
}