<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin-Slab|Nunito|Quicksand">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Verba</title>

</head>

<body>
    {% extends 'loggedout.html' %}
    {% block content %}
    <div id="svg-div">
        <svg id="decagon" viewBox="0 0 220 220">
            <polygon points="80,215 20,175 2,110 20,50 70,5 150,5 200,50 220,110 200,170 150,215" stroke="white"
                fill="black" stroke-width="2" stroke-linejoin="round" />
            <circle cx="110" cy="110" r="100" stroke="white" stroke-width="2" fill="black" />
            <circle cx="110" cy="110" r="10" stroke="black" stroke-width="3" fill="white" />
        </svg>
    </div>
    <p>Don't fall off the wheel of words.</p>
    {% endblock %}
</body>

</html>