<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin-Slab|Nunito|Quicksand">
    <link rel="stylesheet" href="{{ url_for('auth.static', filename='style.css') }}">
    <title>Login</title>
</head>

<body>
    {% extends 'loggedout.html' %}
    {% block content %}
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    <form method="post">
        <label for="email">Email:</label>
        <input type="text" name="email" required>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <button type="submit"> Submit </button>
    </form>
    {% endblock %}
</body>