<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('auth.static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Nunito|Quicksand">
    <link rel="stylesheet" href="{{ url_for('auth.static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('auth.static', filename='styles/inputs.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/buttons.css') }}">
    <title>Verify</title>
</head>

<body>
    {% extends 'loggedout.html' %}
    {% block content %}
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    <form method="post">
        <label for="otp">Enter the OTP Sent to Your Email Address:</label>
        <input type="text" name="otp" id="otp" autocomplete="off">
        <hr>
        <div id="edit-delete-wrapper">
            <button type="submit" name="submitotp">Submit </button>
            <button type="submit"
                onclick="{fetch('/resend_otp', { method: 'POST' }).catch(error => {console.error('Resend OTP failed')})}">Resend OTP</button>
        </div>
    </form>
    {% endblock %}
</body>