<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('auth.static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Nunito|Quicksand">
    <link rel="stylesheet" href="{{ url_for('auth.static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('auth.static', filename='styles/inputs.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/buttons.css') }}">
    <title>Verify</title>
</head>

<body>
    {% extends 'loggedout.html' %}
    {% block content %}
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    <form method="post">
        <label for="otp" style="text-align: center;">Enter the OTP Sent to Your Email Address:</label>
        <input type="text" name="otp" id="otp" autocomplete="off" style="text-align: center;">
        <hr style="width: 11vw; max-width: 15%;">
        <button type="submit" name="submitotp">Submit </button>
    </form>
    <button type="submit" name="resend" id="resend" onclick="resendOTP()"
        style="align-self: center; margin-top: -2.5rem;">Resend OTP</button>
    <p style="font-family: 'Nunito'; text-align: center;">Wait <span id="timer"></span> seconds before resending
        OTP</p>

    <script>
        function thirtySecondTimer() {
            const button = document.getElementById("resend");
            button.disabled = true;
            button.style.backgroundColor = "darkgrey"

            const timer = document.getElementById("timer");
            let timeLeft = 60;

            setInterval(function () {
                timeLeft--;
                timer.textContent = timeLeft;

                if (timeLeft <= 0) {
                    clearInterval(timer);
                    button.disabled = false;
                    button.style.backgroundColor = "transparent"
                    timer.textContent = '60';
                }
            }, 1000);
        }

        function resendOTP() {
            fetch('/resend_otp', { method: 'POST' }).catch(error => { console.error('Resend OTP failed') })
            thirtySecondTimer()
            sessionStorage.clear()
        }

        window.onload = function () {
            if (!sessionStorage.getItem('firstLoad')) {
                thirtySecondTimer()
                sessionStorage.setItem('firstLoad', 'true');
            }
        }
    </script>
    {% endblock %}
</body>