* {
    --intro-line-font: 'Quicksand';
    --intro-second-line: 'Caveat';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 7%;
    background-color: black;
    padding: 0.5rem 0.3rem;
}

.flash {
    z-index: 1;
    color: black;
    text-align: center;
    transform: translateY(50%);
    font-family: 'Nunito';
}

/* home.html styling */
#title {
    display: flex;
    font: 1.6rem 'Quicksand';
    font-weight: 600;
    width: 50%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    color: yellowgreen;
    text-decoration: none;
}

#title:hover {
    text-decoration: underline yellowgreen;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

nav a {
    margin-right: 0.5rem;
    font: 0.7rem 'Nunito';
    font-weight: 100;
    color: yellowgreen;
    text-decoration: none;
}

nav a:hover {
    scale: 1.1;
}

form {
    /* border: 1px solid red; */
    max-width: 100%;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(30%);
}

form>input,
label {
    max-width: 80%;
    width: 80%;
    margin: 0.5rem;
    font: 400 1rem 'Nunito';
}

input {
    border: none;
    border-bottom: 1px solid yellowgreen;
    outline: none;
}

button {
    width: 20%;
    margin: 0.5rem;
    padding: 0.5rem;
    font: 500 1rem 'Nunito';
    color: white;
    background-color: black;
    border-radius: 0.2rem;
    border: none;
}

button:hover {
    transform: translate(0.3rem, 0.1rem);
}

@media (min-width: 768px) {
    #title {
        width: 20%;
    }

    form>input,
    label {
        width: 35%;
    }

    button {
        width: 8%;
    }
}

@media (min-width: 481px)and (max-width: 767px) {
    #title {
        width: 25%;
    }

    button {
        width: 15%;
    }
}