* {
    --intro-line-font: 'Quicksand';
    --intro-second-line: 'Caveat';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    height: fit-content;
    background-color: black;
    padding: 0.5rem 0.3rem;
}

.flash {
    z-index: 1;
    color: black;
    text-align: center;
    transform: translateY(50%);
    font-family: 'Nunito';
}

/* home.html styling */
#title {
    display: flex;
    font: 1.5rem 'Quicksand';
    font-weight: 600;
    width: 40%;
    max-width: 40%;
    color: yellowgreen;
    text-decoration: none;
}

#title:hover {
    text-decoration: underline yellowgreen;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 100%;
}

nav a {
    margin: 0 0.5rem;
    font: 0.7rem 'Nunito';
    font-weight: 100;
    color: yellowgreen;
    text-decoration: none;
}

nav a:hover {
    scale: 1.1;
}

form {
    max-width: 100%;
    width: 100%;
    height: 90%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form>input,
label {
    max-width: 80%;
    width: 80%;
    margin: 0.5rem;
    font: 400 1rem 'Nunito';
}

input {
    border: none;
    border-bottom: 1px solid yellowgreen;
    outline: none;
}

button {
    width: 21vw;
    margin: 0.5rem;
    padding: 0.5rem;
    font: 500 1rem 'Nunito';
    color: white;
    background-color: black;
    border-radius: 0.2rem;
    border: none;
}

button:hover {
    transform: translate(0.3rem, 0.1rem);
}

@media (max-width: 360px) {
    nav a {
        margin: 0;
    }

    #register {
        transform: translateY(15vh);
    }
}

@media (min-width: 768px) {

    form>input,
    label {
        width: 30vw;
    }

    button {
        width: 10vw;
    }
}

@media (min-width: 500px) and (max-width: 950px) and (orientation: landscape) {

    form>input,
    label {
        width: 50vw;
    }

    #register {
        transform: translateY(50vh);
    }
}